<h1> Calculator </h1>

<%= form_tag compute_calculator_path, id: 'calculator_form', remote: true do %>
  <%= text_field_tag 'calculator[expression]' %>
  <%= submit_tag %>
<% end %>

<p id='calculator_result'></p>
